body {
    margin: 0;
    z-index: 1;
}

button {
    cursor: pointer;
}

.formEvent {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(128, 128, 128, 0.5);
    z-index: 1;
    width: 100vw;
    height: 100vh;
}

.formEventShow {
    display: block;
}

.form {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #296bd5;
    position: fixed;
    opacity: 1;
    top: 10%;
    left: 40%;
    width: 300px;
    height: 200px;
    background-color: white;
    z-index: 100;
}

.formTitle{
    font-weight: 700;
    font-size: 1rem;
    margin: 5px 0;
    text-align: center;
}

.formButtons{
    margin-top:20px;
}

.header {
    padding: 40px 10px 10px;
    /*height: 50px;*/
    background: rgba(128, 128, 128, 0.2);
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    width: 850px;
    margin: 0 auto;
}

.navigationContainer {
    position: relative;
    width: 850px;
    margin: 10px auto;
}

.dateNavigation {
    margin: 10px 22%;
}

.controlButtons {
    color: white;
    border: none;
    background: #296bd5;
    padding: 5px;
    border-radius: 2px;
}

.controlButtons:disabled{
    opacity: 0.5;
    pointer-events: none;
}

.search {
    position: relative;
    display: flex;
    gap: 10px;
}

.inputWrapper {
    position: relative;
    bottom: 3px;
}

.logoWrapper {
}

.prevMonthButton {
    margin-right: 10px
}

.nextMonthButton {
    position: absolute;
    left: 145px;
}

.todayButton {
    position: absolute;
    left: 180px;
}

.prevMonthButton, .nextMonthButton {
    border-radius: 3px;
    background: white;
    border: 1px solid rgba(128, 128, 128, 0.4);
}

table {
    border-collapse: collapse;
    max-width: 100%;
}

.tableWrapper {
    max-width: 850px;
    margin: 0 auto;
}

table, th, td {
    border: 1px solid grey;
}

th, td {
    font-weight: normal;
    position: relative;
    width: 100px;
    height: 100px;
    padding: 10px;
}

.activeMonths {
    font-weight: 600;
}

.notActiveMonths {
    position: absolute;
    left: 5%;
    top: 0;
    font-weight: normal;
    color: grey;
}

.todayDay {
    font-size: 120%;
}

.dayOfWeek {
    text-align: left;
    position: absolute;
    top:0;
    left: 2px;
}

.notActiveCell {
    background: #e6e1e1;
}

.activeCell {
    background: green;
}

.todayCell {
    background: #296bd5;
}

.numberOfMonth {
    position: absolute;
    top: 5%;
    left: 5%;
}

.numberOfMonthTh {
    position: absolute;
    left: 85%;
    top: 0;
}